.selectedPage {
  font-weight: bold;
  font-size: 18px;
  color: #146EB4;
}

.page {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.page span {
  cursor: pointer;
  letter-spacing: 10px;

}

.page span:hover {
  cursor: pointer;
  color: #ffffff;
  justify-content: space-between;
}

.selectedPage:hover {
  cursor: pointer;
}

.paginator {
  margin: 10px;
}
.pageNumber {
  padding: 2px;
  border: 1px solid grey;
}

.pageNumber.selectedPage {
  font-weight: bold;
  border-color: black;
}