.userPhoto {
    max-width: 100px;
    height: auto;
    border-radius: 50px;
}


.avaInfo {
    display: inline-grid;
    grid-gap: 10px;
    margin-right: 20px;
}

.users {
    display: block;
    text-align: left;
}

.user {
    display: block;
    text-align: left;
}
