.messageFormWrapper {
    display: flex;
    justify-content: flex-start;
}

textarea {
    width: 400px;
    min-height: 10vh;
    resize: none;
}

.btnWrapper {
    display: flex;
    justify-content: flex-start;
}

.posts {
    margin-top: 10px;
    text-align: left;
}

.profileInfoDescription {
    display: flex;
    justify-content: flex-start;
}

.postsBlock {
    text-align: left;
}

.myPostsTitle {
    text-align: left;
    color: #593522;
}
