.header {
    position: relative;
    /* background-color: rgb(89, 53, 34); */
    background-color: #dee6cb;
    max-width: 1200px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 12px 48px -5px rgba(59, 62, 37, 0.1);
    -moz-box-shadow: 0px 12px 48px -5px rgba(59, 62, 37, 0.1);
    box-shadow: 0px 12px 48px -5px rgba(59, 62, 37, 0.1);
    margin-top: 5px;
}

.header img {
    width: 100px;
    margin: 0px 0px 15px 23px;
}



.mainTitle {
    font-size: 46px;
    letter-spacing: 10px;
    color: #593522;
    padding: 15px 0 15px 20px;
    text-align: center;
}

.loginBlock {
    position: absolute;
    top: 32px;
    right: 0;
    color: #593522;
    margin-right: 15px;
}

.loginBlock a {
    color: white;
    text-decoration: none; 
}