.formControl.error input,
.formControl.error textarea {
  border: 2px solid red;
}

.formControl.error span {
  color: red;
}

.commonError {
  display: inline-block;
  border: 2px solid red;
  padding: 5px;
  color: red;
  margin-top: 5px;
}

