.dialogs {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a {
    text-decoration: none;
}

.title {
    color: #593522;
}

.dialogsItems .active {
    color: green;
    padding: 10px;
    font-size: 20px;
}

.messages .message {
    color: #593522;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    font-size: 20px;
}

.btnWrapper {
    display: flex;
    justify-content: flex-start;
}

.messageForm  {
    text-align: left;
    margin-left: 30px;
}



